<!DOCTYPE html>
<html>
<head>
  <title>SubmoduleParent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="_container">
  <div class="_nav-sidebar">
    basicsで定義されたサイドバー
  </div>
  <div class="_column-sidebar">
    <nav class="_column-nav">
      basicsで定義されたヘッダー
    </nav>
    <div class="_column-sidebar-inner">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
